@import "../assets/normalize.css";

html,
body {
	margin: 0;
	width: 100%;
	height: 100vh;
}

body {
	font: 400 12rem "Lato";
	color: #767e9e;
	text-align: justify;
}

.inner {
	margin: 0 auto;
	width: 1020px;
	height: 100%;
}

.title {
	font-weight: 300;
	font-size: 18rem;
	line-height: 30px;
	overflow: hidden;
}

.title__header {
	margin-bottom: 21px;
	font-weight: 900;
	font-size: 30rem;
	color: #666d89;
	letter-spacing: -0.2px;
}

.title--light,
.title__header--light {
	color: #f0d8d9;
}

.title--padding {
	padding: 62px 10px 0 10px;
}

.media {
	display: flex;
}

.media__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
  color: #666d89;
  font-size: 15rem;
	border-radius: 50%;
	border: 1px solid #666d89;
}

.media__item:nth-child(1n + 2) {
	margin-left: 8px;
}

.media__item:hover {
  color: #dedede;
  background-color: #666d89;
}

/* Portfolio */

section.portfolio {
	background-color: #2d303a;
	border-bottom: 6px solid #323746;
}

.inner-portfolio {
  padding: 63px 40px 67px 40px;
}

.sort-bar {
	padding: 11px 0 8px 0;
}

.sort-bar__button {
  display: inline-block;
  padding: 2px 7px;
  margin-right: 10px;
	letter-spacing: -0.42px;
	line-height: 17.2rem;
  border: 1px solid #666d89;
  border-radius: 5px;
  outline: none;
}

.sort-bar__button:hover {
	color: #dedede;
	border-color: #dedede;
}

.image-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: "image image image image" "image image image image" "image image image image";
  grid-gap: 20px;
  padding-top: 10px;
}

.image-container__item {
	height: 187px;
}

.image-container__item:nth-child(1n + 13) {
  display: none;
}

/* End Portfolio =========*/

/* About */

section.about {
	background-color: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}

.inner-about {
  padding: 62px 40px 0 40px;
}

.members-container {
  display: flex;
  padding: 45px 0 67px 0;
  letter-spacing: -0.3px;
  
}
.member {
  max-width: 300px;
  overflow: hidden;
}

.member:nth-child(1n + 2) {
  margin-left: 20px;
}

.member__name {
	padding: 13px 0 11px 0;
	font-weight: 900;
	font-size: 18rem;
  color: #666d89;
  line-height: 18px;
}

.member__info {
	padding-bottom: 22px;
  line-height: 22px;
}

/* End About ============*/