/* ------ Styles for pop-up ---------- */
/* some styles to position the modal at the center of the page */
.pop-up.hidden {
	display: none;
}

.pop-up {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	max-height: 350px;
	margin-top: -125px;
	margin-left: -200px;
	padding: 20px 30px 30px 30px;
	font-size: 16rem;
	color: #f48c8f;
	text-align: left;
	line-height: 25px;
	letter-spacing: 0.5px;
	overflow: hidden;
	background-color: #d6564f;
	z-index: 10;
	outline: 9999px solid #f48c8f90;
}

.pop-up > p:first-of-type {
	margin-bottom: 12px;
	font-size: 18rem;
	text-align: center;
}

.pop-up > p {
	max-height: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pop-up > p > span {
	color: #f2f2f2;
	text-align: justify;
}

.pop-up > button {
	width: 100%;
	margin-top: 20px;
	padding: 5px 0;
	font-weight: 700;
	color: #d6564f;
	background-color: #f0d8d9;
	border-radius: 3px;
	outline: none;
}

.pop-up > button:hover {
	color: #f0d8d9;
	background-color: #f48c8f;
}
/* -------- END styles for pop-up---------- */