/* popup-panel -------------------------*/
.popup-panel.hidden {
	display: none;
}

.popup-panel {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 278px;
	height: 100vh;
	padding-top: 24px;
	padding-left: 19px;
	color: #FFFFFF;
	font-weight: 500;
	background-color: #2D303A;
	z-index: 10;
	outline: 9999px solid #2D303A60;
}

.popup-panel__top {
	display: flex;
}

.popup-panel__burger {
    transform: rotate(90deg);
    cursor: pointer;
}

.popup-panel__logo {
	font-size: 19.69rem;
    margin-left: 26px;
    letter-spacing: -0.3px;
    cursor: pointer;
}

.popup-panel__menu {
	display: flex;
    flex-direction: column;
    margin-left: 51px;
    margin-top: 184px;
    font-size: 24.2rem;
    letter-spacing: -0.8px;
}

.popup-panel__menu-item {
	margin-bottom: 29.8px;
    line-height: 1.19;
    cursor: pointer;
}

.popup-panel__menu-item:hover {
	color: #f06c64;
}

.popup-panel__menu-item.active {
	color: #f06c64;
}

/* end popup-panel ---------------------*/